{% extends "base.html" %}

{% block title %}Home - Scrapz{% endblock %}

{% block content %}
<div class="container">
  <div class="half top-half">
    <div>
      <p></p>
      <a href="{{ url_for('pantry.pantry') }}" class="demo-btn">Try scrapz now</a>
    </div>
    <div>
      <a href="{{ url_for('load_recipe.get_recipe') }}" class="demo-btn">Try recipe demo</a1>
    </div>
  </div>
  <div class="half bottom-half">
    <h2></h2>
  </div>
</div>

<footer>
  <p>&copy; 2025 Scrapz. All rights reserved.</p>
</footer>
{% endblock %}
