/* Color Palette */
:root {
    --sand: rgb(238, 205, 124);
    --teal: rgb(79, 155, 143);
    --peach: rgb(232, 166, 108);
    --blue: rgb(61, 113, 166);
    --purple: rgb(190, 74, 242);
    --indigo: rgb(104, 75, 236);
    --coral: rgb(216, 118, 89);
    --yellow: rgb(222, 240, 95);
    --brick: rgb(166, 51, 37);
    --light-gray: rgb(217, 217, 217);
}